.box  
  .title
    %h1 Hospitals
  .align-center
    .navbar
      .create-new
        = link_to "Create Hospital", new_hospital_path
  .box-bg
    %table
      %tr
        %th Hospital
        %th Location
        %th Edit
        %th Delete
      - @hospitals.each do |hospital|
        %tr
          %td
            = link_to hospital.name, hospital_path(hospital)
          %td
            = hospital.location
          %td
            = link_to "Edit", edit_hospital_path(hospital)
          %td
            = link_to "Delete", hospital_path(hospital), method: :delete
        %br
        %br
%hr