%h1 Hospital List
%hr
= link_to "Create Hospital", new_hospital_path
%br
- @hospitals.each do |hospital|
  = link_to hospital.name, hospital_path(hospital)
  %br
  = hospital.location
  %br

  = link_to "Edit", edit_hospital_path(hospital)
  |
  = link_to "Delete", hospital_path(hospital), method: :delete
  %hr