<div class ="info-bg">
</div>
<div class ="info">
<h4>Showing <%= @dvd.title %></h4>
<hr>
<%= @dvd.genre %>
<br>
<%= @dvd.director %>
<br>
<%= @dvd.star %>
<br>
<%= @dvd.description %>
<br>
<%= @dvd.writer %>
<br>
<%= @dvd.year %>
<br>
<%= link_to 'Home', root_path %>
<br>
</div>