= form_for @course do |f|
  %table
    %tr
      %td
        = f.label :name
      %td
        = f.text_field :name, placeholder: "Enter class name here", class: "name"
    %tr
      %td
        = f.label :description
      %td
        = f.text_area :description, placeholder: "Enter a description of the class here", class: "description"
    %tr
      %td
        = f.submit "Submit", class: "submit"
      %td
        = link_to "Go back", root_path