!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
    %meta{:content => "", :name => "description"}
    %meta{:content => "", :name => "author"}
    %link{:href => "../../asset/ico/favicon.ico", :rel => "shortcut icon"}

    %title PetsList
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    %script{src:"https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"}
    %script{src:"https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"}
    %script{src: "http://api.tiles.mapbox.com/mapbox.js/v1.0.2/mapbox.js"}
    %link{href: "http://api.tiles.mapbox.com/mapbox.js/v1.0.2/mapbox.css", rel: "stylesheet"}/
  %body
    .wrapper
      .navbar-default.navbar-fixed-top{:role => "navigation"}
        .container-header
          .navbar-header
            %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
              %span.sr-only Toggle Navigation
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            =link_to image_tag("logo.png"), root_path
          .navbar-collapse.collapse
            = render 'layouts/navbar'
      .container.stuff{:role => "main"}
        .template
          = yield
      .push
    .footer
      = render 'layouts/footer'