.list-group
  .list-group-item
    %h4.list-group-item-heading More Info
  .list-group-item
    %strong Name:
    = @shelter.name
  .list-group-item
    %strong Address:
    = @shelter.address
  .list-group-item
    %strong City:
    = @shelter.city
  .list-group-item
    %strong State:
    = @shelter.state
  .list-group-item
    %strong Zip code:
    = @shelter.zip_code
  .list-group-item
    %strong Phone:
    = @shelter.phone
  .list-group-item
    %strong Main url:
    = link_to @shelter.main_url, @shelter.main_url