%ol.breadcrumb
  %li
    =link_to "Home", root_path
  %li
    =link_to "Shelters", shelters_path
  %li.active
    #{@shelter.name}
.col-md-12
  .col-md-3
    = render 'animals/pets_available'
  .col-md-6
    = render 'new_animal_button'
    = render 'admin_buttons'
    %h1 #{@shelter.name}
    / = render 'user_buttons'
  .col-md-3
    .row 
      = render 'map'
    .row
      = render 'more_info'
    .row
      = render 'nearby'

= link_to 'Edit', edit_shelter_path(@shelter)
|
\#{link_to 'Back', shelters_path}