%ol.breadcrumb
  %li
    =link_to "Home", root_path
  %li
    =link_to "Shelters", shelters_path
  %li.active
    #{@shelter.name}
.col-md-12
  .col-md-3
    = render 'new_animal_button'
    = render 'animals/pets_available'
  .col-md-6
    %h1 #{@shelter.name}

    - @shelter.images.each do |image|
      %p=image_tag(image.image.url :large)

    %p #{@shelter.description}

    %input.btn.btn-primary.show-tooltip{type: "button", value: "Show"}/

  .col-md-3
    .row
      = render 'shelter_buttons'
    .row 
      = render 'map'
    .row
      = render 'more_info'
    .row
      = render 'nearby'