= render 'navbar'
.container
  %hr
  %h4 Schools Available
  .btn-group
  - @locations.each do |location|
    %a.btn.btn-info.btn-default{href: "#{location.id}"}
      %i.icon-white.icon-th-large
        #{location.city}

  %h2 The Current Location is The Iron Yard #{@location.city}
  %hr

  %h1 Please choose a course.
  = render 'tabs'