= form_for [@hospital, @patient] do |f|
  = render 'layouts/error_messages', object: @patient
  %table
    %tr
      %td
        = f.label :name
      %td
        = f.text_field :name, placeholder: "Enter name here", class: "name"
    %tr
      %td
        = f.label :age
      %td
        = f.text_field :age, placeholder: "Enter age here"
    %tr
      %td
        = f.label :sex
      %td
        = f.text_field :sex, placeholder: "Enter sex here"
    %tr
      %td
        = f.label :symptom
      %td
        = f.text_area :symptom, placeholder: "Write the symptoms here", class: "symptom"
    %tr
      %td
        = f.label :email
      %td
        = f.text_field :email, placeholder: "Ex: me@me.com", class: "email"
    %tr
      %td
        = f.submit "Submit", class: "submit"
      %td
        = link_to "Cancel", hospital_path(@hospital)