.well.sidebar-nav
  %ul.nav.nav-list
    %li.nav-header Schools Available

    %li
      %a.btn.btn-info.btn-default{href: "/../locations"}
        %i.icon-white.icon-th-large
          All Locations

    - @locations.each do |location|
      %li
        %a.btn.btn-info.btn-default{href: "/../locations/#{location.id}"}
          %i.icon-white.icon-th-large
            #{location.city}

    %li
      %a.btn.btn-info.btn-default{href: "/../locations/new"}
        %i.icon-white.icon-th-large
          Create New location

    %hr

    %li.nav-header Courses Available

    %li
      %a.btn.btn-info.btn-default{href: "./../"}
        %i.icon-white.icon-th-large
          All Courses

    - @courses.each do |course|
      %li
        %a.btn.btn-info.btn-default{href: "../../#{course.id}"}
          %i.icon-white.icon-th-large
            #{course.name}

    %li
      %a.btn.btn-info.btn-default{href: "./../new"}
        %i.icon-white.icon-th-large
          Create New Course

    %li.nav-header Assignments Available

    %li
      %a.btn.btn-info.btn-default{href: "../assignments"}
        %i.icon-white.icon-th-large
          All Assignments

    - @assignments.each do |assignment|
      %li
        %a.btn.btn-info.btn-default{href: "../assignments/#{assignment.id}"}
          %i.icon-white.icon-th-large
            #{assignment.name}
    %li

      %a.btn.btn-info.btn-default{href: "../assignments/new"}
        %i.icon-white.icon-th-large
          Create New Assignment