%h1 Hospital Info
%hr
= link_to "Go Back", root_path
%br
Hospital: 
= @hospital.name
%br
Location: 
= @hospital.location
%br
= link_to "Edit", edit_hospital_path(@hospital)
%hr
= link_to "New Patient", new_hospital_patient_path(@hospital)
%br

- @patients_processing.each do |patient|
  = link_to patient.name, hospital_patient_path(@hospital, patient)
  (#{patient.workflow_state})
  = workflow_links(patient)

Name:

%br
Condition:
