%h1 Hospital Info
%hr
= link_to "Go Back", root_path
%hr
Hospital: 
= @hospital.name
%br
Location: 
= @hospital.location
%br
= render 'hospitals/search'
%hr
= link_to "Edit Hospital", edit_hospital_path(@hospital)
|
= link_to "New Patient", new_hospital_patient_path(@hospital)
|
= link_to "Add a Doctor", new_doctor_hospital_path(@hospital)
%hr
%h1 Patients at Hospital
- @patients_processing.each do |patient|
  = link_to patient.name, hospital_patient_path(@hospital, patient)
  (#{patient.workflow_state})
  = workflow_links(patient)

%hr
%h3 Doctors
-@hospital.doctors.each do |doctor|
  Name: Dr. 
  =doctor.name
  %br

%hr
%h3 Patients Completed
-@patients_completed.each do |patient|
  Name: 
  = patient.name
  %br
  discharged at
  = patient.updated_at.strftime("%l:%M%p")
