.box
  .title
    %h3 Hospital Info: #{@hospital.name}
  .align-center
    .navbar
      .create-new
        = link_to "Go Back", root_path
  .box-bg
    %table
      %tr
        %td
          %table
            %tr
              %td
                Location:
              %td
                = @hospital.location
            %tr
              %td
                Search for a patient:
              %td
                = render 'hospitals/search'
      %tr
        %td
          %table
            %tr
              %td
                = link_to "Edit Hospital", edit_hospital_path(@hospital)
              %td
                = link_to "New Patient", new_hospital_patient_path(@hospital)
              %td
                = link_to "Add a Doctor", new_doctor_hospital_path(@hospital)
      %tr
        %td
          %table
            %tr
              %td
                %table
                  %tr
                    %td
                      %h1 Patients at Hospital
            %tr
              %td
                %table
                  %tr
                    %th
                      Patient Name
                    %th
                      Workflow State
                    %th
                      Workflow Links
                      %patient
                        = render 'hospitals/page1'



                    / Split up your patients list into groups of 10
                    /   put each group of 10 inside it's own div
                    /   name the div according to it's group number
                    / however many pages of patients are rendered, render that many links
                    / ie: 1 | 2 | 3 | 4 for 40 patients
                    / each link should have an attribute on it that associates with
                    / the corresponding div element
                    / ie: div#group_1, a{group: "group_1"}
                    /
                    / In javascript
                    / Have click events for hte links
                    /   When you click, grab the group attribute
                    /   show that group of patients
                    /   hide the other groups
      %tr
        %td
          %table
            %tr
              %td
                %table
                  %tr
                    %th
                      %h1 Doctors
            %tr
              %td
                %table
                  %tr
                    %td
                      -@hospital.doctors.each do |doctor|
                        Dr. #{doctor.name}
                        |
      %tr
        %td
          %table
            %tr
              %td
                %table
                  %tr
                    %th
                      %h1 Patients Completed
            %tr
              %td
                %table
                  -@patients_completed.each do |patient|
                    %tr
                      %td
                        Name:
                        = patient.name
                      %td
                        discharged at
                        = patient.updated_at.strftime("%l:%M%p")
