= render 'navbar'
.container.theme-showcase{:role => "main"}
  .template
    .container-narrow
      %hr
      = link_to "The Iron Yard #{@location.city}", location_path(@location)
      >
      =link_to "#{@course.name} Course", location_course_path(@location, @course)
      >
      =link_to "#{@assignment.name}", location_course_assignment_path(@location, @course, @assignment)
      .row-fluid
        .span3
          = render 'sidebar'
        .span9
          .jumbotron
            %h1 Assignment: #{@assignment.name}
            %table.table
              %tr
                - if can? :edit, Assignment
                  %td
                    = link_to "Edit #{@assignment.name}", edit_location_course_assignment_path(@location, @course, @assignment) 
                - if can? :destroy, Assignment
                  %td
                    = link_to "Delete #{@assignment.name}", location_course_path(@location, @course, @assignment), method: :delete
            %hr
              %h4 Comments:
              = link_to "Write a Comment", comment_location_course_assignment_path(@location, @course, @assignment, @comment)
              #accordion
                - @assignment.comments.each do |comment|
                  %h3 Comment created at #{comment.created_at}
                  %div
                    %p
                      = comment.comment

            / %hr
            / - @assignment.submissions.each do |submission|
            /   = submission.id