.container-narrow
  / = render 'courses/navbar'
  %hr
  .row-fluid
    .span3
      = render 'sidebar'
    .span9
      .jumbotron
        %h2 The Iron Yard #{@location.city}
        %table.table
          %tr
            %td
              = link_to "Edit #{@location.city} School", edit_location_path(@location) if can? :edit, Location
            %td
              = link_to "Delete #{@location.city} School", location_path(@location), method: :delete if can? :destroy, Location
          %br
        %p.lead
          %h3 Please choose a course.
          = render 'courses'