.row

= form_for @forum do |f|
  %form{role: "form"}
    .form-group
      = f.label :name
      = f.text_field :name
    .form-group
      = f.label :description
      = f.text_area :description
    
    =f.submit "Submit", class: "btn btn-default"