.jumbotron
  %h1 Forums Page
  %p= link_to "Create New Forum", new_forum_path if can? :create, Forum
%table
  %tr
    %th{width: "70%"} Forum
    %th{width: "30%"} Last Post
  - @forums.each do |forum|
    %tr
      %td
        %h4= link_to h(forum.name), forum_path(forum.id)
        %small
          - if forum.topics.count > 0
            = forum.topics.count
            topics
          - else
            no topics
        %br/
        = h forum.description
      %td.right
        - if forum.most_recent_post
          = distance_of_time_in_words_to_now forum.most_recent_post.last_post_at
          ago by
          = forum.most_recent_post.user.name
        - else
          no posts
      - if can? :edit, Forum    
        %td= link_to "Edit", edit_forum_path(forum)
      - else
      - if can? :delete, Forum
        %td= link_to "Delete", forum, :confirm => 'Are you sure?', :method => :delete if can? :delete, Forum
      - else