.jumbotron
  %p= link_to "Back To Forums", forums_path if can? :read, Forum
  %h1 #{@forum.name}
  %p= link_to "Create New Topic", new_forum_topic_path(@forum) if can? :create, Topic
%table
  %tr
    %th{width: "60%"} Topic Title
    %th{width: "20%"} Last Post
    %th{width: "10%"} Thread Rating
    %th{width: "10%"} Your Rating
  - for topic in @forum.topics
    %tr
      %td
        = link_to h(topic.name), forum_topic_path(@forum, topic.id)
        %br/
        - if topic.posts.count > 0
          =topic.posts.count
          replies
        - else
          no replies
      %td.right
        = distance_of_time_in_words_to_now topic.last_post_at
        ago by 
        = topic.user.name
        / = topic.last_poster
        / = link_to topic.user.name, "/users/#{topic.last_poster_id}"
      %td
        %div.star
      %td
        %div.user_star
      - if can? :edit, Topic
        %td= link_to "Edit", edit_forum_topic_path(@forum, topic)
      - else
      - if can? :delete, Topic
        %td= link_to "Delete", forum_topic_path(@forum, topic), :confirm => 'Are you sure?', :method => :delete
      - else