.list-group
  .list-group-item
    %h4.list-group-item-heading More Info
  .list-group-item
    %strong Name:
    = @user.name
  .list-group-item
    %strong Nickname:
    = @user.nickname
  .list-group-item
    %strong Gender:
    = @user.gender
  .list-group-item
    %strong Birthday:
    = @user.birthday
  .list-group-item
    %strong Website:
    = @user.website
  .list-group-item
    %strong Find Me In:
    = @user.find_me_in
  .list-group-item
    %strong Hometown:
    = @user.hometown
  .list-group-item
    %strong When Not With Pet:
    = @user.when_not_with_pet
  .list-group-item
    %strong Why You Should Read My Reviews:
    = @user.why_you_should_read_my_reviews
  .list-group-item
    %strong Second Favorite Website:
    = @user.second_favorite_website
  .list-group-item
    %strong Last Great Book Read:
    = @user.last_great_book_read
  .list-group-item
    %strong My First Concert:
    = @user.my_first_concert
  .list-group-item
    %strong My Favorite Movie:
    = @user.my_favorite_movie
  .list-group-item
    %strong My Last Meal:
    = @user.my_last_meal
  .list-group-item
    %strong My Secret:
    = @user.my_secret
  .list-group-item
    %strong My Recent Discovery:
    = @user.my_recent_discovery
  .list-group-item
    %strong My Job:
    = @user.job