%ul#myTab.nav.nav-tabs
  - @locations.each do |location|
    %li
      %a{href: "##{location.id}"} #{location.city}

#content.tab-content
  - @locations.each do |location|
    .tab-pane{id: location.id}
      %strong The Iron Yard 
      %br
      = location.street
      %br
      = location.city
      ,
      = location.state
      %br
      = location.zipCode
      %br
      = link_to "Edit", edit_location_path(location)
      |
      = link_to "Delete", location_path(location), method: :delete