- flash.each do |name, msg|
  = content_tag :div, msg, :id => "flash_#{name}"
= render 'dashboard_navbar'
- @locations.each do |location|
  %tr
    %td
      = location.city

= render 'dashboard_tabs'