.title
  %h1 Patient List

= link_to "New Patient", new_patient_path

%h4 Click on Patient Name To View Detailed Report

.list
  %table.table-hover
    %tr
      %th Patient
      %th Check-in
      %th Edit
      %th Delete
      %th Action
    - @patients_waiting.each do |patient|
      %tr
        %td
          = link_to "#{patient.name}", patient_path(patient)
          (#{patient.workflow_state})
        %td
          = patient.created_at.strftime("%l:%M%p")
        %td
          = link_to "Edit", edit_patient_path(patient)
        %td
          = link_to "Delete", patient_path(patient), method: :delete
        %td
          - if patient.workflow_state == 'waiting'
            = link_to "Doctor", doctor_patient_path(patient), method: :patch
            = link_to "X-ray", xray_patient_path(patient), method: :patch
            = link_to "Surgery", surgery_patient_path(patient), method: :patch
            = link_to "Leave", leaving_patient_path(patient), method: :patch
          - elsif patient.workflow_state == 'doctor'
            = link_to "X-Ray", xray_patient_path(patient), method: :patch
            = link_to "Surgery", surgery_patient_path(patient), method: :patch
            = link_to "Pay Bills", pay_patient_path(patient), method: :patch
          - elsif patient.workflow_state == 'xray'
            = link_to "Doctor", doctor_patient_path(patient), method: :patch
            = link_to "Surgery", surgery_patient_path(patient), method: :patch
            = link_to "Pay Bills", pay_patient_path(patient), method: :patch
          - elsif patient.workflow_state == 'surgery'
            = link_to "Doctor", doctor_patient_path(patient), method: :patch
            = link_to "X-Ray", xray_patient_path(patient), method: :patch
            = link_to "Pay Bills", pay_patient_path(patient), method: :patch
          - elsif patient.workflow_state == 'pay'
            = link_to "Leave", leaving_patient_path(patient), method: :patch
          - else patient.workflow_state == 'leaving'
      %br