.well.sidebar-nav
  %ul.nav.nav-list
    %li.nav-header TIY #{@location.city}
    =link_to "Edit School", edit_location_path(@location), class: "btn.btn-info.btn-default" if can? :edit, Location
    %i.icon-white.icon-th-large
    %br
    =link_to "Delete School", location_path(@location), method: :delete, class: "btn.btn-info.btn-default" if can? :destroy, Location
    %i.icon-white.icon-th-large
    %br
    =link_to "Edit Course", edit_location_course_path(@location, @course), class: "btn.btn-info.btn-default" if can? :edit, Course
    %i.icon-white.icon-th-large
    %br
    =link_to "Delete Course", location_course_path(@location, @course), method: :delete, class: "btn.btn-info.btn-default" if can? :destroy, Course
    %i.icon-white.icon-th-large
    %br
    %li.nav-header Schools Available

    %li
      %a.btn.btn-info.btn-default{href: '/./locations/'}
        %i.icon-white.icon-th-large
          All Locations

    - @locations.each do |location|
      %li
        %a.btn.btn-info.btn-default{href: "/../locations/#{location.id}"}
          %i.icon-white.icon-th-large
            #{location.city}
    - if can? :create, Location
      %li
        %a.btn.btn-info.btn-default{href: "/../locations/new"}
          %i.icon-white.icon-th-large
            Create New location

    %hr

    %li.nav-header Courses Available

    %li
      %a.btn.btn-info.btn-default{href: "./"}
        %i.icon-white.icon-th-large
          All Courses

    - @location.courses.each do |course|
      %li
        %a.btn.btn-info.btn-default{href: "./../courses/#{course.id}"}
          %i.icon-white.icon-th-large
            #{course.name}
    - if can? :create, Course
      %li
        %a.btn.btn-info.btn-default{href: "./new"}
          %i.icon-white.icon-th-large
            Create New Course