= render 'navbar'
.container.theme-showcase{:role => "main"}
  .template
    .container-narrow
      %hr
      = link_to "The Iron Yard #{@location.city}", location_path(@location)
      >
      =link_to "#{@course.name} Course", location_course_path(@location, @course)
      .row-fluid
        .span3
          = render 'sidebar'
        .span9
          .jumbotron
            %h1 #{@course.name} Course
          %hr
          %h1 Please choose an assignment.
          %h4
            = link_to "Add Assignment", new_location_course_assignment_path(@location, @course, @assignment) if can? :create, Assignment
            %br
            .btn-group
            - @course.assignments.each do |assignment|
              = render 'assignments/assignments', assignment: assignment