#tabs
  %ul
    %li
      %a{href: "#tabs-1"} Cats
    %li
      %a{href: "#tabs-2"} Dogs
    %li
      %a{href: "#tabs-3"} Gerbils
    %li
      %a{href: "#tabs-4"} Hamsters
    %li
      %a{href: "#tabs-5"} Horses
    %li
      %a{href: "#tabs-6"} Ponies
    %li
      %a{href: "#tabs-7"} Rabbits
  #tabs-1
    = render 'cat_form'
  #tabs-2
    = render 'dog_form'
  #tabs-3
    = render 'gerbil_form'
  #tabs-4
    = render 'hamster_form'
  #tabs-5
    = render 'horse_form'
  #tabs-6
    = render 'pony_form'
  #tabs-7
    = render 'rabbit_form'