.list-group
  .list-group-item
    %h4.list-group-item-heading More Info
  - unless @animal.name == nil
    .list-group-item
      %strong Name:
      = @animal.name
  - unless @animal.animal_group == nil
    .list-group-item
      %strong Species:
      = @animal.animal_group
  - unless @animal.breeds == nil
    - @animal.breeds.each do |breed|
      .list-group-item
        %strong Breed:
        = breed.name
  - unless @animal.birthday == nil
    .list-group-item
      %strong Birthday:
      = @animal.birthday
  - unless @animal.personality == nil
    .list-group-item
      %strong Personality:
      = @animal.personality
  - unless @animal.color == nil
    .list-group-item
      %strong Color:
      = @animal.color
  - unless @animal.patterns == nil
    .list-group-item
      %strong Pattern:
      = @animal.patterns
  - unless @animal.body_type == nil
    .list-group-item
      %strong Body Type:
      = @animal.body_type
  - unless @animal.trained == nil
    .list-group-item
      %strong Trained:
      = @animal.trained
  - unless @animal.sex == nil
    .list-group-item
      %strong Sex:
      = @animal.sex
  - unless @animal.size == nil
    .list-group-item
      %strong Size:
      = @animal.size
  - unless @animal.hair == nil
    .list-group-item
      %strong Hair:
      = @animal.hair
  - unless @animal.special_needs == nil
    .list-group-item
      %strong Special Needs:
      = @animal.special_needs
  - unless @animal.bonded_pair == nil
    .list-group-item
      %strong Bonded Pair?
      = @animal.bonded_pair