.list-group
  .list-group-item
    %h4.list-group-item-heading More Info
  .list-group-item
    %strong Name:
    = @animal.name
  .list-group-item
    %strong Species:
    = @animal.animal_group
  .list-group-item
    %strong Birthday:
    = @animal.birthday
  .list-group-item
    %strong Personality:
    = @animal.personality
  .list-group-item
    %strong Color:
    = @animal.color
  .list-group-item
    %strong Pattern:
    = @animal.patterns
  .list-group-item
    %strong Body Type:
    = @animal.body_type
  .list-group-item
    %strong Trained:
    = @animal.trained
  .list-group-item
    %strong Sex:
    = @animal.sex
  .list-group-item
    %strong Size:
    = @animal.size
  .list-group-item
    %strong Hair:
    = @animal.hair
  .list-group-item
    %strong Special Needs:
    = @animal.special_needs
  .list-group-item
    %strong Bonded Pair?
    = @animal.bonded_pair