= form_for @patient do |f|
  = render 'layouts/error_messages', object: @patient
  %br

  = f.label :name
  = f.text_field :name
  %br

  = f.label :age
  = f.text_field :age
  %br <!-- change to date of birth -->

  = f.label :sex
  = f.text_field :sex
  %br <!-- change to radio button "Male / Female" -->

  = f.label :symptom
  = f.text_area :symptom, placeholder: "Write the symptoms here"
  %br

  = f.submit
%hr
  = link_to "Cancel", hospital_path(@hospital)