%h1 Show Patient Data

%h4 Showing #{@patient.name}'s File
%h4
Age: #{@patient.age}
%br
Sex: #{@patient.sex}
%br
Symptoms: #{@patient.symptom}
%br
Workflow: #{@patient.workflow_state}
%br
Discharge Notes: #{@patient.discharge_note}
%br

= link_to "Edit", edit_hospital_patient_path
|
= link_to "Home", root_path
|
= link_to "Hospital List", hospital_path(@hospital)
%hr
%h1 Doctors
= link_to "Add Doctor", doctor_name_hospital_patient_path(@hospital, @patient)
%hr
%h1 Medication
= link_to "New Medication", new_hospital_patient_medication_path(@hospital, @patient, @medication)
%br
%br
- @patient.medications.each do |medication|
  Name: 
  = link_to medication.name, hospital_patient_medication_path(@hospital, @patient, medication)
  %br
  Description: 
  = medication.description
  %br
  %br