%h1 Show Patient Data

%h4 Showing #{@patient.name}'s File
%h4
Age: #{@patient.age}
%br
Sex: #{@patient.sex}
%br
Symptoms: #{@patient.symptom}
%br
Workflow: #{@patient.worflow_state}
%br
Discharge Notes: #{@patient.discharge_note}
%br

= link_to "Edit", edit_hospital_patient_path
= link_to "Home", root_path
= link_to "Hospital List", hospital_path(@hospital)
%hr