= form_for [@hospital, @patient, @medication] do |f|
  = render 'layouts/error_messages', object: @medication
  = f.label :name
  = f.text_field :name
  %br
  = f.label :description
  = f.text_area :description
  %br
  =f.submit
  %hr
= link_to "Go Back Home", hospital_patient_path(@hospital, @patient)