.box
  .title
    %h3 Hospital Info: #{@hospital.name}
  .align-center
    .navbar
      .create-new
        = link_to "Go Back", root_path
  .box-bg
    %table
      %tr
        %td
          %table
            %tr
              %td
                Location:
              %td
                = @hospital.location
            %tr
              %td
                Search for a patient:
              %td
                = render 'hospitals/search'
      %tr
        %td
          %table
            %tr
              %td
                = link_to "Edit Hospital", edit_hospital_path(@hospital)
              %td
                = link_to "New Patient", new_hospital_patient_path(@hospital)
              %td
                = link_to "Add a Doctor", new_doctor_hospital_path(@hospital)
      %tr
        %td
          %table
            %tr
              %td
                %table
                  %tr
                    %td
                      %h1 Patients at Hospital
            %tr
              %td
                %table
                  %tr
                    %th
                      Patient Name
                    %th
                      Workflow State
                    %th
                      Workflow Links
                  %tr
                    - @patients_processing.each do |patient|
                      %td
                        = link_to patient.name, hospital_patient_path(@hospital, patient)
                      %td
                        (#{patient.workflow_state})
                      %td
                        = workflow_links(patient)
      %tr
        %td
          %table
            %tr
              %td
                %table
                  %tr
                    %th
                      %h1 Doctors
            %tr
              %td
                %table
                  %tr
                    %td
                      -@hospital.doctors.each do |doctor|
                        Dr. #{doctor.name}
                        |
      %tr
        %td
          %table
            %tr
              %td
                %table
                  %tr
                    %th
                      %h1 Patients Completed
            %tr
              %td
                %table
                  -@patients_completed.each do |patient|
                    %tr
                      %td
                        Name:
                        = patient.name
                      %td
                        discharged at
                        = patient.updated_at.strftime("%l:%M%p")
