<h4>Edit a Post</h4>

<%= form_for @post do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title, placeholder: "Title" %>
  <br>
  <%= f.label :text %>
  <%= f.text_field :text, placeholder: "Text" %>
  <br>
  <%= f.submit %>
  <% end %>