= form_for @location, html: { class: "form", role: "form"} do |f|

  .form-group
    = f.label :address
    = f.text_field :address, autofocus: true, class: "form-control", role: "label", placeholder: "510 Mill Street"

  .form-group
    = f.label :city
    = f.text_field :city, autofocus: true, class: "form-control", role: "label", placeholder: "Mount Pleasant"

  .form-group
    = f.label :state
    %br
    = f.select :state, options_for_select(us_states), autofocus: true, class: "form-control", role: "label", include_blank: '--- Select State ---'

  .form-group
    = f.label :zip_code
    = f.text_field :zip_code, autofocus: true, class: "form-control", role: "label", placeholder: "29464"

  .form-group.pull-right
    = f.submit "Save", class: "btn btn-success"
    =link_to "Go Back", locations_path, class: "btn btn-primary"