            <%= link_to "Create New Post", new_post_path %>
            <br>

            <% @all_posts.each do |post| %>
            <h1><%= post.title %></h1>
            <h6>Created at<%= post.created_at.strftime("%l:%M%p") %></h6>
            <br>
            <%= post.text %>

            <% link_to "Show", post_path(post) %>
            |
            <%= link_to "Edit", edit_post_path(post) %>
            |
             <%= link_to "Delete", post_path(post), method: :delete %>

            <% end %>